.BookEditOrCreate .errors {
  color: red;
  font-weight: bolder;
}

.BookEditOrCreate label {
  font-weight: 700;
  text-align: left;
  float: left;
  margin-left: 7px;
  min-width: 170px;
}

.BookEditOrCreate .container-horizontal {
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
  margin-left: 7px;
  text-align: left;
  float: left;
}

.BookEditOrCreate textarea {
  width: 75%;
  height: 250px;
  min-height: 250px;
}

.BookEditOrCreate input[type=text] {
  width: 75%;
}

.BookEditOrCreate select {
  min-width: 200px;
}

input[type="file"] {
  display: none;
}

a:not([href]) {
  color: inherit;
  border-style: outset;
  background: ghostwhite;
}


.right-side-panel p {
  margin-left: 0;
}
