<div>
  <div id="header">
    <h1><a routerLink="/">Что было прочитано</a></h1>
  </div>
  <hr />
  <div id="footer">
    <div id="footer-menu">
      <a routerLink="/admin/overview">Панель администрирования</a><span> | </span>
      <a routerLink="/admin/books/create">Добавить прочтенную книгу</a><span> | </span>
      <a routerLink="/admin/authors">Авторы</a><span> | </span>
      <a routerLink="/admin/tags">Теги</a>
      <button (click)="authService.logout()" style="margin-left:10px; background-color: black; color:white;">
        Выйти
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
