<div class="BookDetails">
  <ng-container *ngIf="!repo.isLoading; else loading">
    <h2 [style.margin-left]="'10px'">Подробнее</h2>
    <hr />
    <div class="container-panel">
      <div class="left-side-panel">
        <img class="img-thumbnail" src={{repo.currentBookDetails?.base64ImageSrc}} alt={{repo.currentBookDetails?.name}} />
      </div>
      <div class="right-side-panel">
        <dl class="dl-horizontal">
          <p>
          <dt class="dt-label">
            <label>Название:</label>
          </dt>
          <dd>
            {{repo.currentBookDetails?.name}}
          </dd></p>
          <p>
          <dt class="dt-label">
            <label>{{repo.currentBookDetails?.authorsOfBooks.indexOf(',') >= 0 ? "Авторы:" : "Автор:"}}</label>
          </dt>
          <dd>
            {{ repo.currentBookDetails?.authorsOfBooks}}
          </dd></p>
          <p>
          <dt class="dt-label">
            <label>Количество страниц:</label>
          </dt>
          <dd>{{repo.currentBookDetails?.pages}}</dd></p>
          <p>
          <dt class="dt-label">
            <label>Описание:</label>
          </dt>
          <dd>{{repo.currentBookDetails?.description}}</dd></p>
          <p>
          <dt class="dt-label">
            <label>Год издания:</label>
          </dt>
          <dd>{{repo.currentBookDetails?.year}}</dd></p>
          <p>
          <dt class="dt-label">
            <label>Категория:</label>
          </dt>
          <dd>{{repo.currentBookDetails?.category}}</dd></p>
          <p>
          <dt class="dt-label">
            <label>Язык:</label>
          </dt>
          <dd>
            {{ repo.currentBookDetails?.language}}
          </dd></p>
          <p>
          <dt class="dt-label">
            <label>Теги:</label>
          </dt>
          <dd>
            <a *ngFor="let tag of repo.currentBookDetails?.bookTags" routerLink='/books/list/all/page1' [queryParams]="{tag:tag.nameForLinks}" class="tag-a">{{tag.nameForLabels}}</a>
          </dd>
          </p>
        </dl>
      </div>
    </div>

    <div className="details-p" *ngIf="isAuth">
      <a [routerLink]="['/admin/books/edit', activeRoute.snapshot.params['id']]">Редактировать</a> |
      <a href="javascript:void(0)" (click)="editClick($event)">Удалить</a>
      <div *ngIf="isWantDelete">
        <span>Вы действительно хотите удалить насовсем эту книгу?</span>
        <button (click)="onDeleteConfirmed()">Да</button>
        <button (click)="isWantDelete = false">Нет</button>
      </div>
    </div>

  </ng-container>
</div>

<ng-template #loading>
  <loader></loader>
</ng-template>
