body {
  background-color: #d2d0d0;
}

div {
  display: block;
  margin: 0 auto;
}

a {
  color: navy;
  text-decoration: none;
  font-size: larger;
}

form {
  margin-left: 10px
}

.form-control {
  display: inline-block;
  margin-bottom: .8rem;
  background-color: inherit;
}

  .form-control label{
     min-width:150px;
  }

.invalid {
  color: red;
}

